.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  border-radius: 10%;
}

mat-dialog-content{
    background-color: rgb(55, 55, 55);
}

.info{
    margin: 1em;
}
