.mat-dialog-content {
    justify-content: center;
}

h1{
    text-align: center;
}

.msg{
    text-align: center;
}

.mat-dialog-actions.footer{
    justify-content: center;
    padding: 8px 24px;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
}

.formfield {
    margin: 1em;
}