tr th {
  justify-content: center;
  text-align: center;
  margin: 20px
}

td {
  text-align: center;
}

table {
  width: 100%;
  margin-bottom: 3em;
}

mat-icon {
  cursor: pointer;
}

.logo {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 10px 4px #95959a);
}

.add-button{
  float: right;
  margin: 20px;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.post-image{
    margin: 5px;
    width: 150px;
    border-radius: 10%;
}
